header {
  text-align: center;
  font-weight: bold;
  line-height: 30px;
  border-bottom: 5px solid #ededed;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: -70px auto 10px auto;
}

header h1 {
  margin: 10px;
}

header h2 {
  margin-bottom: 20px;
}
